* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Montserrat;
}

img {
	width: 180px;
	height: 180px;
	display: block;
	margin: 23px auto;
	border-radius: 20px;
}

label {
	display: block;
	margin: 0 auto;
}

.center {
	display: block;
	margin: 0 auto;
}

#searchButton, .button {
	margin-top: 30px;
	width: 300px;
	height: 60px;
}

#search {
	width: 300px;
}

table {
	margin: 0 auto;
}

table td{
	width: 230px;
	padding: 12px;
	background-color: #222222;
	color: white;

	border-radius: 5px;
}

.advice {
	color: red;
	text-align: center;
}
